<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <context:annotation-config/>

    <context:component-scan base-package="eu.corstjens.example.cxf.webservice.endpoint"/>
    <context:component-scan base-package="eu.corstjens.example.cxf.webservice.service"/>

    <jaxws:endpoint id="example"
                    implementor="eu.corstjens.example.cxf.webservice.endpoint.impl.ExempleEndpointImpl"
                    address="/testExample"/>

</beans>